{
		"extends": [
				"eslint:recommended",
				"plugin:@typescript-eslint/recommended",
				"plugin:react/recommended"
		],
		"plugins": [
				"react",
				"@typescript-eslint"
		],
		"parser": "@typescript-eslint/parser",
		"root": true,
		"settings": {
				"react": {
						"version": "detect"
				}
		}
}
